@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

// h1, 

.desktop{
    font-size: 150px;
    .primary-heading{
        font-size: 150px;
    }
    .secondary-heading{
        font-size: 100px;
    }
    .tertiary-heading{
        font-size: 56px;
    }
    .quaternary-heading{
        font-size: 32px;
    }
    .quinary-heading{
        font-size: 28px;
        letter-spacing: 4.75px;
    }
    .text{
        font-size: 18px;
    }
}

.tablet{
    .primary-heading{
        font-size: 120px;
    }
    .secondary-heading{
        font-size: 80px;
    }
    .tertiary-heading{
        font-size: 40px;
    }
    .quaternary-heading{
        font-size: 24px;
    }
    .quinary-heading{
        font-size: 20px;
        letter-spacing: 3.38px;
    }
    .text{
        font-size: 16px;
    }
}

.mobile{
    .primary-heading{
        font-size: 80px;
    }
    .secondary-heading{
        font-size: 56px;
    }
    .tertiary-heading{
        font-size: 24px;
    }
    .quaternary-heading{
        font-size: 16px;
    }
    .quinary-heading{
        font-size: 16px;
        letter-spacing: 2.7px;
    }
    .text{
        font-size: 15px;
    }
    .explore{
        font-size: 20px;
    }
}
.desktop, .tablet{
    .explore{
        font-size: 32px;
    }
}

/****
    fixa och ta bort
****/
.primary-heading{
    // font-size: 150px;
    font-size: 150px;
    &.tablet{
        font-size: 120px;
        @media only screen and (max-width: 600px) and (min-width: 448px)  {
            font-size: 100px;       
        }
    }
    &.mobile{
        font-size: 80px;
    }
}
// h2, 
.secondary-heading{
    font-size: 100px;
    &.tablet{
        font-size: 80px;
    }
    &.mobile{
        font-size: 56px;
    }
}
// h3, 
.tertiary-heading{
    font-size: 56px;
    &.tablet{
        font-size: 40px;
    }
    &.mobile{
        font-size: 24px;
    }
}
// h4, 
.quaternary-heading{
    font-size: 32px;
    &.tablet{
        font-size: 24px;
    }
    &.mobile{
        font-size: 16px;
    }
}
// h5, 
.quinary-heading{
    font-size: 28px;
    letter-spacing: 4.75px;
    &.tablet{
        font-size: 20px;
        letter-spacing: 3.38px;
    }
    &.mobile{
        font-size: 16px;
        letter-spacing: 2.7px;
    }
}
.primary-heading,
.secondary-heading,
.tertiary-heading,
.quaternary-heading,
.quinary-heading{
    font-family: "Bellefair";
    font-weight: normal;
}

.sub-heading-one,
.sub-heading-two, 
.nav-text, 
.text{
    font-family: "Barlow";
}
.text{
    font-size: 18px;
    &.tablet{
        font-size: 16px;
    }
    &.mobile{
        font-size: 15px;
    }
}
.sub-heading-one{
    font-size: 28px;
    font-weight: normal;
}
.sub-heading-two{
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2.35px;
}
.nav-text{
    font-size: 16px;
    letter-spacing: 2.7px;
}
.upper-case{
    text-transform: uppercase;
}
.explore{
    font-size: 32px;
    &.mobile{
        font-size: 20px;
    }
}